.container {
  width: 100%;
  @include outer-container($max-container-width);
  // padding: 1em 1em 10em 1em;
  min-height: 100vh;
  position: relative;
  padding-top: $nav-height;

  &--room {

  }

  &--index {
    padding-top: 0;
  }

  &--forms {
    @include display(flex);
    align-items: center;
    justify-content: center;
  }
}