.overlay {
  @include size(100vw 100vh);
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  z-index: 300;

  &--call {

  }

  &--call-init {
    @include display(flex);
    align-items: center;
    justify-content: center;
  }

  &--connection-lost {
    @include display(flex);
    align-items: center;
    justify-content: center;
    text-align: center;

    h2, h3 {
      margin: 0.2em;
    }
  }
}