@font-face {
  font-family: 'Droid Sans';
  src: url('../fonts/DroidSans-webfont.eot');
  src: url('../fonts/DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/DroidSans-webfont.woff') format('woff'),
       url('../fonts/DroidSans-webfont.ttf') format('truetype'),
       url('../fonts/DroidSans-webfont.svg#droid_sansregular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Droid Sans';
  src: url('../fonts/DroidSans-Bold-webfont.eot');
  src: url('../fonts/DroidSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/DroidSans-Bold-webfont.woff') format('woff'),
       url('../fonts/DroidSans-Bold-webfont.ttf') format('truetype'),
       url('../fonts/DroidSans-Bold-webfont.svg#droid_sansbold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Aaargh';
  src: url('../fonts/Aaargh-webfont.eot');
  src: url('../fonts/Aaargh-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Aaargh-webfont.woff') format('woff'),
       url('../fonts/Aaargh-webfont.ttf') format('truetype'),
       url('../fonts/Aaargh-webfont.svg#aaarghnormal') format('svg');
  font-weight: 400;
  font-style: normal;
}



