<nav class="main-nav" ng-if="alias.name">
  <div class="main-nav__section">
    <div class="main-nav__peers-menu" ng-click="nav.togglePeersMenu()"><i class="ion-ios-people"></i></div>
  </div>

  <div class="main-nav__section">
    <div class="main-nav__room" ng-click="nav.toggleRoomUrl()"><span>Current room: </span>{{room.name}}</div>
    <div class="main-nav__room-popout" ng-if="nav.states.roomUrlIsOpen"><input type="text" ng-model="roomURL" class="big-input" select-on-click readonly></div>
  </div>

  <div class="main-nav__section">
    <div class="main-nav__user" ng-click="nav.toggleMenu()" ng-blur="nav.toggleMenu()"><span>Hello, <span ng-bind="alias.name"></span></span><i class="ion-person"></i></div>
    <ul class="main-nav__menu" ng-class="{'main-nav__menu--open': nav.states.menuIsOpen}" ng-if="roomJoined">
      <li class="static small-device">Hello, <span ng-bind="alias.name"></span></li>
      <li ng-click="leaveRoom()">Leave Room</li>
    </ul>
  </div>
</nav>

<div class="container container--room" ng-if="roomJoined" ng-controller="ChatController">
  <div class="chat-wrapper">
    <div class="chat-wrapper__alert" ng-if="messages.receiver">You are now chatting with {{messages.receiver}}</div>

    <div class="chat-wrapper__messages">
      <div class="chat-wrapper__messages__lines" ng-class="{'chat-wrapper__messages__lines--private': messages.receiver}">

        <div class="chat-wrapper__messages__line" ng-repeat="message in messages.room" ng-class="{'chat-wrapper__messages__line--receiver': message.alias !== alias.name, 'chat-wrapper__messages__line--self': message.alias === alias.name, 'chat-wrapper__messages__line--info': message.type === 'info' }" ng-if="!messages.receiver">
          <div ng-if="message.type === 'info'">
            <span class="message" ng-bind-html="message.text"></span>
            <span class="timestamp" am-time-ago="message.time"></span>
          </div>

          <div ng-if="message.type !== 'info'">
            <div class="chat-wrapper__messages__line__alias">{{message.alias}}</div>
            <div class="chat-wrapper__messages__line__timestamp" am-time-ago="message.time"></div>
            <div class="chat-wrapper__messages__line__message" ng-bind-html="message.text" ng-if="message.type === 'text'"></div>
            <div class="chat-wrapper__messages__line__location" ng-if="message.type === 'location'">
              <a href="{{message.url}}" target="_blank">
                <div class="location-preview"><i class="ion-map"></i></div>
                <ul class="coordinates">
                  <li><strong>Latitude:</strong><span>{{message.location.lat}}</span></li>
                  <li><strong>Longitude:</strong><span>{{message.location.lng}}</span></li>
                </ul>
              </a>
            </div>
          </div>
        </div>

        <div class="chat-wrapper__messages__line" ng-repeat="message in messages.private[messages.receiver]" ng-class="{'chat-wrapper__messages__line--receiver': message.alias !== alias.name, 'chat-wrapper__messages__line--self': message.alias === alias.name}" ng-if="messages.receiver">
          <div class="chat-wrapper__messages__line__alias">{{message.alias}}</div>
          <div class="chat-wrapper__messages__line__timestamp" am-time-ago="message.time"></div>
          <div class="chat-wrapper__messages__line__message" ng-bind-html="message.text" ng-if="message.type === 'text'"></div>
          <div class="chat-wrapper__messages__line__location" ng-if="message.type === 'location'">
            <a href="{{message.url}}" target="_blank">
              <div class="location-preview"><i class="ion-map"></i></div>
              <ul class="coordinates">
                <li><strong>Latitude:</strong><span>{{message.location.lat}}</span></li>
                <li><strong>Longitude:</strong><span>{{message.location.lng}}</span></li>
              </ul>
            </a>
          </div>
        </div>

      </div>
      <div class="chat-wrapper__messages__scrollbar">
        <div class="chat-wrapper__messages__scrollbar__handle">
          <span></span>
        </div>
      </div>
    </div>
    <div class="chat-wrapper__input">
      <div class="chat-wrapper__input__actions">

        <div class="action action--location" ng-controller="MapController" ng-click="toggleMap()" ng-class="{open: mapIsVisible}">
          <i class="ion-ios-location"></i>Share location
          <div class="map" ng-click="$event.stopPropagation();">
            <input class="map__search" type="text" placeholder="Search location" ng-show="mapIsLoaded">
            <div class="map__canvas">
              <div class="spinner">
                <div class="spinner__rect spinner__rect--1"></div>
                <div class="spinner__rect spinner__rect--2"></div>
                <div class="spinner__rect spinner__rect--3"></div>
                <div class="spinner__rect spinner__rect--4"></div>
                <div class="spinner__rect spinner__rect--5"></div>
              </div>
            </div>
            <div class="map__controls">
              <button class="share-location" ng-click="shareLocation()" ng-disabled="!locationToShare">Share</button>
              <button class="cancel" ng-click="toggleMap()">Cancel</button>
            </div>
          </div>
        </div>

      </div>
      <textarea id="" ng-model="chatMessage" ng-enter="sendMessage()"></textarea>
      <button ng-click="sendMessage()" class="send-message"><i class="ion-paper-airplane"></i></button>
    </div>
  </div>

  <div class="peers-wrapper" ng-class="{'peers-wrapper--open': nav.states.peersMenuIsOpen}">
    <div class="peers-wrapper__list">
      <div class="peers-wrapper__list__item peers-wrapper__list__item--room">
        <div class="peer-name">Room Chat <span class="unread-messages" ng-if="unreadMessages.room">{{unreadMessages.room}}</span></div>
        <div class="peer-controls">
          <div class="peer-controls__action peer-controls__action--chat" ng-click="switchToRoomChat()"><i class="ion-ios-chatbubble"></i><span>Switch to room chat</span></div>
        </div>
      </div>
      <div class="peers-wrapper__list__alert" ng-if="!peers.length">You are alone in this room</div>
      <div class="peers-wrapper__list__item" ng-repeat="peer in peers | filter:peerFilter | orderBy: peer" ng-class="{'peers-wrapper__list__item--active': messages.receiver === peer}">
        <div class="peer-name">{{peer}} <span class="unread-messages" ng-if="unreadMessages.private[peer]">{{unreadMessages.private[peer]}}</span></div>
        <div class="peer-controls">
          <div class="peer-controls__action peer-controls__action--call" ng-click="initiateCall(peer)"><i class="ion-ios-telephone"></i><span>Call</span></div>
          <!-- <div class="peer-controls__action peer-controls__action--transfer" ng-click="sendFile()"><i class="ion-document"></i><span>Send File</span></div> -->
          <div class="peer-controls__action peer-controls__action--chat" ng-click="privateChat(peer)"><i class="ion-ios-chatbubble"></i><span>Private Chat</span></div>
        </div>
      </div>
    </div>
    <div class="peers-wrapper__search">
      <input type="text" ng-model="peerFilter" autocorrect="off" autocapitalize="none">
      <i class="ion-ios-search-strong"></i>
    </div>
  </div>

  <div class="overlay overlay--call-init" ng-if="(call.outgoing || call.incoming)">
    <div class="calling-box">
      <h2 class="title" ng-if="call.incoming">Receiving a call from</h2>
      <h2 class="title" ng-if="call.outgoing">Calling</h2>
      <h1 class="peer" ng-bind="call.peer.name"></h1>

      <div class="spinner" ng-if="call.waiting">
        <div class="spinner__rect spinner__rect--1"></div>
        <div class="spinner__rect spinner__rect--2"></div>
        <div class="spinner__rect spinner__rect--3"></div>
        <div class="spinner__rect spinner__rect--4"></div>
        <div class="spinner__rect spinner__rect--5"></div>
      </div>

      <p class="line-busy" ng-if="call.busy">Caller is busy</p>
      <div class="buttons" ng-if="!call.waiting && !call.busy">
        <button class="answer" ng-if="call.incoming" ng-click="answerCall()"><i class="ion-ios-telephone"></i></button>
        <button class="hang-up" ng-click="rejectCall()"><i class="ion-ios-close"></i></button>
      </div>
    </div>
  </div>

  <div class="overlay overlay--call fullscreen" ng-show="call.inProgress">

    <div class="video-wrapper video-wrapper--receiver">
      <video id="receiver-video" autoplay></video>
    </div>

    <div class="video-wrapper video-wrapper--self">
      <video id="self-video" autoplay></video>
    </div>

    <button class="end-call" ng-click="endCall()"><i class="ion-ios-telephone"></i></button>
    <button class="toggle-microphone" ng-class="{'toggle-microphone--muted': call.microphoneMuted}" ng-click="toggleMicrophone()"><i class="ion-android-microphone" ng-class="{'ion-android-microphone-off': call.microphoneMuted}"></i></button>
  </div>

  <div class="overlay overlay--connection-lost" ng-if="connectionLost">
    <div>
      <h2>Lost connection with the server</h2>
      <h3>waiting to reconnect</h3>
      <div class="spinner">
        <div class="spinner__rect spinner__rect--1"></div>
        <div class="spinner__rect spinner__rect--2"></div>
        <div class="spinner__rect spinner__rect--3"></div>
        <div class="spinner__rect spinner__rect--4"></div>
        <div class="spinner__rect spinner__rect--5"></div>
      </div>
    </div>
  </div>

</div>


<div class="container container--forms" ng-if="!roomJoined">

  <div class="box box--setup">
    <h2 class="title title--centered">Credentials</h2>

    <div class="input-group">
      <label for="alias">Alias</label>
      <input type="text" class="big-input" id="alias" ng-trim="true" ng-enter="joinRoom()" ng-model="alias.name" ng-disabled="room.disabled" autocorrect="off" autocapitalize="none">
    </div>

    <div class="input-group" ng-if="room.requiresPassword">
      <label for="roomPassword">Password</label>
      <input type="password" class="big-input" id="roomPassword" ng-model="room.password" ng-enter="joinRoom()" ng-disabled="room.disabled" autocorrect="off" autocapitalize="none">
    </div>

    <div class="input-group" ng-if="room.error || room.message">
      <span class="error-label" ng-bind="room.error" ng-if="room.error"></span>
    </div>

    <div class="button-group">
      <button class="btn btn--primary" ng-click="joinRoom()" ng-disabled="room.disabled">Enter Room</button>
    </div>
    <hr>
    <div class="button-group">
      <button class="btn btn--secondary" ng-click="redirectRoot()" ng-disabled="room.disabled">Different Room</button>
    </div>

  </div>
</div>
